body {
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.collapsible {
  font-family: monospace;
  text-align: center;
  background-color: slategray;
  color: white;
  cursor: pointer;
  padding: 8px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  border-radius: 4px;
  width: 100%;
}

.content {
  max-height: 0;
  overflow: hidden;
  background-color: #f9f9f9;
  transition: max-height 0.3s ease-out;
  padding: 0 10px;
}

.content p {
  margin: 10px 0;
}
