body {
  font-family: monospace;
  background-color: #444;
  color: #eee;
}

.title {
  text-align: center;
  font-size: xx-large;
}

.block {
  padding: auto;
  width: 100%;
}

/*Collapsible section*/
.collapsible {
  background-color: #007;
  color: #eee;
  cursor: pointer;
  padding: 0 16px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

/*For the content of the collapsible*/
.content {
  padding: 0 16px;
  background-color: #00A;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/*When content is hovered*/
.active,
.collapsible:hover {
  background-color: #00A;
}

/*Symbol for when content is not expanded*/
.collapsible:after {
  content: '\02795';
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

/*Symbol for when content is expanded*/
.active:after {
  content: "\2796";
}